
<div class="profile_header"><h4>Review Your Profile</h4>

<%= image_tag('default_user_icon.png', class: 'user_icon')%>
 
 </div>
<%= form_tag '/profiles', id: "profiles", method: :post do %>
    <div class="profile_div">
      <p class="profile_text"><span class='name_span'><%= label_tag 'full_name', "Full Name", class: 'profile_label' %></p></span>
      <%= text_field_tag :full_name, params[:full_name] %> 
    </div class="profile_div">
      <br />
    <div class="profile_div">
      <p class="profile_text"><span class='email_span'><%= label_tag 'email', "Email Address", class: 'profile_label' %></p></span>
      <%= text_field_tag :email, params[:email] %> 
    </div>
      <br />
    <div class="profile_div">
      <p class="profile_text"><span class='job_span'><%= label_tag 'job_title', "Job Title", class: 'profile_label' %></p></span>
      <%= text_field_tag :job_title, params[:job_title] %> 
    </div>
      <br />
    <div class="profile_div">
      <p class="profile_text"><span class='network_span'><%= label_tag 'network', "Network You Belong To", class: 'profile_label' %></p></span>
     <!--  <%= select_tag :network, params[:network], placeholder: "Network You Belong To" %>  -->
    </div>
    <div class="dropdown">
  <button class="btn btn-primary dropdown-toggle profile_btn" type="button" data-toggle="dropdown" id="profile_dropdown">Select<span class="dropdown_tab"></span>
  <span class="caret profile_caret"></span></button>
 
  <ul class="dropdown-menu scrollable-menu dropdown_networks" role="menu">
     <% @networks.each do |network|  %>
    <li><a href="#"><%= network.title %></a></li>
    <!-- <li><a href="#">Seattle</a></li>
    <li><a href="#">New York</a></li> -->
    <% end %>
  </ul>
</div>
    <div>
      <%= submit_tag "FINALIZE PROFILE", class: "finalize_button" %> 
    </div> 
<% end %>
<script type="text/javascript">
$(".dropdown-menu li a").click(function(){
  $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
  $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
});
</script>