<%= image_tag('personalization_1.png', class: 'check_pic')%>
<%= image_tag('personalization_2_dark.png', class: 'circle_number_pic')%>
<%= image_tag('personalization_3_dark.png', class: 'circle_number_pic')%>

<div class="title">
  <p id="form_title">What do you hope to get out of WWCode?</p>
<div>

<%= form_tag '/hopes', method: :post do %>
  <div class='form_checkboxes_list'>
    <div class='form_checkboxes field_padding'>
      <%= check_box_tag 'enhancing_your_technical_skills' %>
      <%= label_tag 'enhancing_your_technical_skills', 'enhancing your technical skills', class: "form_checkbox_labels" %> 
    </div>
    <div class='form_checkboxes field_padding'>
      <%= check_box_tag 'leadership_skills' %> 
      <%= label_tag 'leadership_skills', 'leadership skills', class: "form_checkbox_labels" %> 
    </div>
    <div class='form_checkboxes field_padding'>
      <%= check_box_tag 'career_development' %> 
      <%= label_tag 'career_development', 'career development (e.g. negotiating, interviewing)', class: "form_checkbox_labels" %> 
    </div>
    <div class='form_checkboxes field_padding'>
      <%= check_box_tag 'professional_network' %> 
      <%= label_tag 'professional_network', 'professional network', class: "form_checkbox_labels" %> 
    </div>
    <div class='form_checkboxes field_padding'>
      <%= check_box_tag 'technical_profile' %> 
      <%= label_tag 'technical_profile', 'enhancing your technical profile (e.g. speaking opportunities, techinical blogging)', class: "form_checkbox_labels" %> 
    </div >
    <div class='form_checkboxes field_padding'>
      <%= text_field_tag "Other", nil, placeholder: "Other", class: "other" %>
    </div>
    <%= submit_tag "Next", class: "next_button" %>  
  </div> 
<% end %>