<%= image_tag('personalization.gif', class: 'check_pic')%>
<%= image_tag('personalization.gif', class: 'check_pic')%>
<%= image_tag('personalization_3.png', class: 'circle_number_pic')%>

<div class="title">
  <p id="form_title_experience">What's your current techincal skill-set level?</p>
<div>

<%= form_tag '/experiences', method: :post do %>
  <div class='form_checkboxes_list'>
    <div class='form_checkboxes'>
      <%= radio_button_tag 'experience', "expert" %> 
      <%= label_tag 'experience_expert', 'singularity (10+ years)', class: "form_checkbox_labels" %> 
    </div>
    <div class='form_checkboxes'>
      <%= radio_button_tag 'experience', "advanced" %> 
      <%= label_tag 'experience_advanced', 'advanced (5+ years)', class: "form_checkbox_labels" %> 
    </div>
    <div class='form_checkboxes'>
      <%= radio_button_tag 'experience', "intermediate" %> 
      <%= label_tag 'experience_intermediate', 'intermediate (2-5 years)', class: "form_checkbox_labels" %> 
    </div>
    <div class='form_checkboxes'>
      <%= radio_button_tag 'experience', "beginner" %> 
      <%= label_tag 'experience_beginner', 'beginner (2 years)', class: "form_checkbox_labels" %> 
    </div>
    <div class='form_checkboxes'>
      <%= radio_button_tag 'experience', "newbie"  %> 
      <%= label_tag 'experience_newbie', 'newbie (1 year)', class: "form_checkbox_labels" %> 
    </div >
    <div class='form_checkboxes'>
      <%= text_field_tag "Other", nil, placeholder: "Other", class: "other" %>
    </div>
    <%= submit_tag "Next", class: "next_button" %>  
  </div> 
<% end %>

<script>
  $('.other').click(function() {
    $('input[type=radio]').removeAttr("checked");
  });

  $('input[type=radio]').click(function () {
    $('input:text.other').val('');
  });
 </script>