<div id="form_error"><h4>Error: Form cannot be blank! Please make at least one selection!</h4></div>

<div class="hopes">

  <%= image_tag('personalization_1.png', class: 'check_pic')%>
  <%= image_tag('personalization_2_dark.png', class: 'circle_number_pic')%>
  <%= image_tag('personalization_3_dark.png', class: 'circle_number_pic')%>

  <div class="title">
    <p id="form_title">What do you hope to get out of WWCode?</p>
  </div>
</div>

<div class="interests">
  <%= image_tag('personalization.gif', class: 'check_pic')%>
  <%= image_tag('personalization_2.png', class: 'circle_number_pic')%>
  <%= image_tag('personalization_3_dark.png', class: 'circle_number_pic')%>

  <p id="form_title">Engineering area(s) of interest</p>
</div>  

<div class="experience">
  <%= image_tag('personalization.gif', class: 'check_pic')%>
  <%= image_tag('personalization.gif', class: 'check_pic')%>
  <%= image_tag('personalization_3.png', class: 'circle_number_pic')%>

  <div class="title">
    <p id="form_title_experience">What's your current techincal skill-set level?</p>
  </div>
</div>

<%= form_tag '/personalization_details', method: :post do %>
  <div class="hopes">
    <div class='form_checkboxes_list'>
      <div class='form_checkboxes'>
        <%= check_box_tag 'hopes[enhancing your technical skills]' %>
        <%= label_tag 'hopes[enhancing your technical skills]', 'enhancing your technical skills', class: "form_checkbox_labels" %> 
      </div>
      <div class='form_checkboxes'>
        <%= check_box_tag 'hopes[leadership skills]' %> 
        <%= label_tag 'hopes[leadership skills]', 'leadership skills', class: "form_checkbox_labels" %> 
      </div>
      <div class='form_checkboxes'>
        <%= check_box_tag 'hopes[career_development]' %> 
        <%= label_tag 'hopes[career_development]', 'career development (e.g. negotiating, interviewing)', class: "form_checkbox_labels" %> 
      </div>
      <div class='form_checkboxes'>
        <%= check_box_tag 'hopes[professional_network]' %> 
        <%= label_tag 'hopes[professional_network]', 'professional network', class: "form_checkbox_labels" %> 
      </div>
      <div class='form_checkboxes'>
        <%= check_box_tag 'hopes[technical_profile]' %> 
        <%= label_tag 'hopes[technical_profile]', 'enhancing your technical profile (e.g. speaking opportunities, techinical blogging)', class: "form_checkbox_labels" %> 
      </div >
      <div class='form_checkboxes'>
        <%= text_field_tag "hopes[HopesOther]", nil, placeholder: "Other", class: "other" %>
      </div>
      <div class="next_div">Next</div> 
    </div> 
  </div>

  <div class="interests">
    <div class='form_checkboxes_list'>
      <div class='form_checkboxes'>
        <%= check_box_tag 'interests[architecture]' %> 
        <%= label_tag 'interests[architecture]', 'architecture', class: "form_checkbox_labels" %> 
      </div>
      <div class='form_checkboxes'>
        <%= check_box_tag 'interests[security]' %> 
        <%= label_tag 'interests[security]', 'security', class: "form_checkbox_labels" %> 
      </div>
      <div class='form_checkboxes'>
        <%= check_box_tag 'interests[data science]' %> 
        <%= label_tag 'interests[data science]', 'data science', class: "form_checkbox_labels" %> 
      </div>
      <div class='form_checkboxes'>
        <%= check_box_tag 'interests[analytics]' %> 
        <%= label_tag 'interests[analytics]', 'analytics', class: "form_checkbox_labels" %> 
      </div>
      <div class='form_checkboxes'>
        <%= check_box_tag 'interests[open source]' %> 
        <%= label_tag 'interests[open source]', 'open source', class: "form_checkbox_labels" %> 
      </div >
      <div class='form_checkboxes'>
        <%= check_box_tag 'interests[devops]' %> 
        <%= label_tag 'interests[devops]', 'devops', class: "form_checkbox_labels" %> 
      </div>
      <div class='form_checkboxes'>
        <%= check_box_tag 'interests[web]' %> 
        <%= label_tag 'interests[web]', 'web', class: "form_checkbox_labels" %> 
      </div>
      <div class='form_checkboxes'>
        <%= check_box_tag 'interests[mobile]' %> 
        <%= label_tag 'interests[mobile]', 'mobile', class: "form_checkbox_labels" %> 
      </div>
      <div class='form_checkboxes'>
        <%= check_box_tag 'interests[enterprise]' %> 
        <%= label_tag 'interests[enterprise]', 'enterprise', class: "form_checkbox_labels" %>
      </div>
      <div class='form_checkboxes'>
        <%= text_field_tag "interests[InterestsOther]", nil, placeholder: "Other", class: "other" %>
      </div>
      <div class="next_div">Next</div>  
    </div>
  </div> 

  <div class="experience">
    <div class='form_checkboxes_list'>
      <div class='form_checkboxes'>
        <%= radio_button_tag 'experience', "expert" %> 
        <%= label_tag 'experience_expert', 'singularity (10+ years)', class: "form_checkbox_labels" %> 
      </div>
      <div class='form_checkboxes'>
        <%= radio_button_tag 'experience', "advanced" %> 
        <%= label_tag 'experience_advanced', 'advanced (5+ years)', class: "form_checkbox_labels" %> 
      </div>
      <div class='form_checkboxes'>
        <%= radio_button_tag 'experience', "intermediate" %> 
        <%= label_tag 'experience_intermediate', 'intermediate (2-5 years)', class: "form_checkbox_labels" %> 
      </div>
      <div class='form_checkboxes'>
        <%= radio_button_tag 'experience', "beginner" %> 
        <%= label_tag 'experience_beginner', 'beginner (2 years)', class: "form_checkbox_labels" %> 
      </div>
      <div class='form_checkboxes'>
        <%= radio_button_tag 'experience', "newbie"  %> 
        <%= label_tag 'experience_newbie', 'newbie (1 year)', class: "form_checkbox_labels" %> 
      </div >
      <div class='form_checkboxes'>
        <%= text_field_tag "ExperiencesOther", nil, placeholder: "Other", class: "other reference_class" %>
      </div>
      <div id="next_button">
        <%= submit_tag "Next", class: "next_button next_button_z_index" %> 
      </div>   
    </div>
  </div> 
<% end %>

<script>
  var showCounter = 0;
  
  $(document).ready(function(){
    $('.interests').hide();
    $('.experience').hide();
    $('#form_error').hide();
  })

  // validations to be sure that user makes a selection for the radio box form commented out below

  // $('div.experience input[type = radio]').change(function(){
  //   if($('div.experience input[type = text].other').val() !=  "" || $('div.experience input[type = radio]:checked').length > 0) {
  //     $('.next_button').removeAttr('disabled');
  //     $('.next_button_z_index').removeClass("next_button_z_index");
  //     $('#next_button').removeAttr('id');
  //   };
  // })

  // $('.reference_class').change(function(){
  //   if($('div.experience input[type = text].other').val() !=  "" || $('div.experience input[type = radio]:checked').length > 0) {
  //     $('.next_button').removeAttr('disabled');
  //     $('.next_button_z_index').removeClass("next_button_z_index");
  //     $('#next_button').removeAttr('id');
  //   };
  // })

  // $('div#next_button').click(function(){
  //   if($('div.experience input[type = text].other').val() ==  "" && $('div.experience input[type = radio]:checked').length == 0) {
  //       $('#form_error').show();
  //       $('.next_button').prop('disabled', true);
  //   }
  // })
  
  // commented out front end validations that require user to make a selection
  $('.next_div').click(function(){
    if(showCounter == 0) {
      // if($('div.hopes input[type = checkbox]:checked').length > 0 || $('div.hopes input[type = text].other').val() != "") {
        showCounter += 1;
        $('#form_error').hide();
        $('.hopes').hide();
        $('.interests').show();
      // } else {
      // $('#form_error').show();
    } else if (showCounter == 1) {    
      // if($('div.interests input[type = checkbox]:checked').length > 0 || $('div.interests input[type = text].other').val() != "") {
        showCounter += 1;
        $('#form_error').hide();
        $('.interests').hide();
        $('.experience').show();
        $('.next_button_z_index').removeClass("next_button_z_index");
        $('#next_button').removeAttr('id');
      // } else {
      // $('#form_error').show();
      // }
    }    
  })

  $('.other').click(function() {
    $('input[type=radio]').removeAttr("checked");
  });

  $('input[type=radio]').click(function () {
    $('input:text.reference_class').val('');
  });

  

 </script>