<!DOCTYPE html>
<html>
<head>
  <title>WwcodeWebclientApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Hind' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>

</head>
<body class="sign_up" ng-modules="EventsApp, HamburgerApp">
  <div class="flash-messages">
    <%flash.each do |name, message| %>
      <% if !message.empty? %>
        <div class="alert alert-<%= name %> alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></button>
          <%= message %>
        </div>
      <% end %>
    <%end %>
  </div>
  <div ng-controller="HamburgerCtrl">
    <snap-drawers>
      <snap-drawer class="snap-drawer">
      <p>I'm a drawer! I maybe I've got some sweet {{name}} links.</p>
      </snap-drawer>
    </snap-drawers>
    <snap-content>
              <button class="snap-drawer"snap-toggle></button>
    
    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->


    
    <%= yield %>
    </snap-content>
  </div>
</body>
</html>
