<% if @new_user %>
    <div class= "backend_errors">
      <% @new_user.body["errors"]["full_messages"].each do |error| %>
          <p class="backend_onboarding_errors"><%= error %></p>
      <% end %>
    </div>
<% end %> 

<br>
<%= image_tag('personalization.gif', class: 'check_pic')%>
<%= image_tag('personalization.gif', class: 'check_pic')%>
<%= image_tag('personalization.gif', class: 'check_pic')%>

<h4 id="thanks_title">Thanks!</h4>

<div><h4 id="sign_up_title">Sign up</h4></div>

<%= form_tag '/users/registrations', method: :post do %>
  <div class="sign_up">
    <%= text_field_tag "username", params[:username], placeholder: "Username", class: "user_account_text_field username_text_field" %>
    <p class="username_error">Username cannot be blank</p>
  </div> 

  <div class="sign_up">
    <%= text_field_tag "email", params[:email], placeholder: "Email Address", class: "user_account_text_field email_text_field" %>
    <p class="email_error">Email cannot be blank</p>
  </div>  

  <div class="sign_up">
    <%= password_field_tag "password", nil, placeholder: "Password", class: "user_account_text_field password_text_field" %>
    <p class="password_error">Password cannot be blank</p>
  </div>  

  <div class="sign_up">
    <%= password_field_tag "password_confirmation", nil, placeholder: "Password Confirmation", class: "user_account_text_field password_confirmation_text_field" %>
    <p class="password_confirmation_error">Password confirmation cannot be blank</p>
    <p class="password_match_error">Password confirmation does not match password</p>
  </div>  

  <div class="sign_up">
    <%= text_field_tag "access_code", params[:access_code], placeholder: "Access Code", class: "user_account_text_field access_code_text_field" %>
    <p class="access_code_error">Access code cannot be blank</p>
  </div>

  <div id="next_div">
    <%= submit_tag "SIGN UP!", class: "button sign_up_button sign_up_button_z_index" %>  
  </div> 
<% end %>

<script type="text/javascript">

  $(document).ready(function(){
    $('.email_error').hide();
    $('.password_error').hide();
    $('.password_confirmation_error').hide();
    $('.password_match_error').hide();
    $('.username_error').hide();
    $('.access_code_error').hide();
  })


  $('div#next_div').click(function(){

    if($('.username_text_field').val() ==  "") {
      $('.username_error').show();
      $('.button').prop('disabled', true);
    } else {
      $('.username_error').hide();
    }

    if($('.email_text_field').val() ==  "") {
      $('.email_error').show();
      $('.button').prop('disabled', true);
    } else {
      $('.email_error').hide();
    }

    if($('.password_text_field').val() ==  "") {
      $('.password_error').show();
      $('.button').prop('disabled', true);
    } else {
      $('.password_error').hide();
    }

    if($('.password_confirmation_text_field').val() ==  "") {
      $('.password_confirmation_error').show();
      $('.button').prop('disabled', true);
    } else {
      $('.password_confirmation_error').hide();
    }

    if($('.password_text_field').val() != $('.password_confirmation_text_field').val() ) {
      $('.password_match_error').show();
      $('.button').prop('disabled', true);
    } else {
      $('.password_match_error').hide();
    }

    if($('.access_code_text_field').val() ==  "") {
      $('.access_code_error').show();
      $('.button').prop('disabled', true);
    } else {
      $('.access_code_error').hide();
    }
  })

  $('div.sign_up input[type = text]').change(function(){
    if($('username_text_field').val() != ""  && $('email_text_field').val() != "" && $('.password_text_field').val() != "" && $('.password_text_field').val() != "" && $('.password_text_field').val() == $('.password_confirmation_text_field').val() && $('.access_code_text_field').val() !=  "" ) {
      $('.button').removeAttr('disabled');
      $('.sign_up_button_z_index').removeClass("sign_up_button_z_index");
      $('#next_div').removeAttr('id');
    };
  })

</script>